.quotation{
    font-family: Gayathri, serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 117px;
    width: 180px;
    height: 21px;
    margin-top: 310px;
    margin-left: 80px;
    color: #BABABA;
}