@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.par {
    font-family: 'Inter', sans-serif;
    line-height: 38px;
    position: relative;
    padding-top: 4.5rem;
    width: 65%;
    font-size: 1.3rem;
    margin: 0 80px;
    color: #7f7f7f;
    font-style: italic;

}


.quotation{
    font-style: normal;
    font-family: Gayathri, serif;
    font-size: 75px;
    font-weight: bold;
    color: #BABABA;
    position: absolute;
    top:45px;
    left:0;
}

.Author {
    font-family: 'Inter', sans-serif;
    width: 65%;
    margin: 80px 80px;
    /*margin: 3rem auto 0;*/
    color: #5f5f5f;
}
